<p id="notice"> <%= notice %></p>

  <div class="row stripe">
    <div class="col-md-4">
      <div class="avatar-pic-cont">
        <span class="avatar-pic"><%= image_tag current_user.avatar.url(:medium) %></span>
        </div>
    </div>
    <div class="col-md-4">
      <h1 class="usernamedata">
        <span class="username"><%= @user.profile_name %></span>
      </h1>
      <p class="user-info profile-name"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><strong> Profile Name: </strong><%= @user.profile_name %> </p>
      <p class="user-info name"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><strong>Name: </strong><%= @user.full_name %></p>
      <p class="user-info bio"><span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong> Bio: </strong><%= @user.bio %></p>
    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div class="row">
  </div>
  <br />

  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-5">
      <h1> <%= @user.profile_name.capitalize %>'s Posts</h1><br />
    </div>
    <div class="col-md-4">
    <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Create Post
      </button>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">New Post</h4>
            </div>
            <div class="modal-body">
              <%= render partial: "posts/post_form" %>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <% @user.posts.each do |post| %>
      <div class="well well-lg">
        <ul>
          <li class="post-info"><h3><%= post.caption %></h3></li>
          <li class="post-info"><%= image_tag post.picture.url(:medium) %></li>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>


