<p id="notice"> <%= notice %></p>
<!-- <div class="container"> -->
  <div class="row">
  <div class="col-md-12">
    <div class="stripe">
    </div>
    </div>
    </div>
    <div class="user-stripe">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="avatar-pic-cont">
              <span class="avatar-pic"><%= image_tag current_user.avatar.url(:medium) %></span>
              </div>
          </div>
          <div class="col-md-4">
            <h1 class="usernamedata">
              <span class="username"><%= @user.profile_name %></span>
            </h1>
            <p class="user-info profile-name"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><strong> Profile Name: </strong><%= @user.profile_name %> </p>
            <p class="user-info name"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><strong>Name: </strong><%= @user.full_name %></p>
            <p class="user-info bio"><span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong> Bio: </strong><%= @user.bio %></p>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>


    <div class="col-md-7">
    <h3> <%= @user.profile_name.capitalize %>'s Posts</h3><br />


    </div>
  </div>
</div>


