<h1>posts form</h1>
<%= simple_form_for([current_user, Post.new]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :caption, label: 'Type your post here' %>
    <%= f.input :picture %>
  </div>
  <br />

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-warning btn-sm" %>
  </div>

<% end %>
